
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




html{
    font-family: sans-serif;
    text-align: center;
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.display-flex{
  display: flex;
} 

a{
    text-decoration: none;
    display: block;
    margin: 0 5px;
    padding: 5px;
    color: white;
    
}

a:hover{
    color: red;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to bottom, #00688B, #007FFF); 
    padding: 20px;
    display: flex;
   justify-content: space-between;
   
}


.png{
    width: 50px;
    margin-top: -2px;
}
 
header nav{
    color: black;
    margin-bottom: 15px;
}


.banner-h1{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img{
 width: 99vw;
   height:85vh;
   margin: 0;
   border: 0;
 }

 .card{
    margin:20px;
    

}

 .card img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 12px;
    
 }
 .card-container{
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    margin: auto;
 }

 footer{
    background-color: rgb(0, 228, 152);
    padding: 20px;
 }