
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




html{
    font-family: sans-serif;
    text-align: center;
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.display-flex{
  display: flex;
} 

a{
    text-decoration: none;
    display: block;
    margin: 0 5px;
    padding: 5px;
    color: white;
    
}

a:hover{
    color: red;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to bottom, #00688B, #237cd4); 
    padding: 20px;
    display: flex;
   justify-content: space-between;
   
}


.png{
    width: 50px;
    margin-top: -2px;
}
 
header nav{
    color: black;
    margin-bottom: 15px;
}


.banner-h1{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img{
 width: 99vw;
   height:85vh;
   margin: 0;
   border: 0;
 }

 




.card {
    margin: 20px;
    border: 2px solid;
    background-color: antiquewhite;
}
 .card img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 12px;
    
 }
 

 .card-container {

}

.fav-head {
    float: inline-end;
    margin-top: -375px;
    margin-right: 234px;
}
 


/* Example of styling the favorite button */
.favorite-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s; /* Animation duration */
}

/* Hover effect */


.card.active{
    background-color: rgb(39, 142, 70);
}




.item {
    position: relative;
    padding-right: 20px; /* To make space for the favorite icon */
}





 footer{
    background-color: rgb(93, 100, 168);
    padding: 20px;
 }